<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="bootstrap" version="3.3.1" targetFramework="net45" />
  <package id="d3" version="3.5.3" targetFramework="net45" />
  <package id="d3.cloud.layout.TypeScript.DefinitelyTyped" version="0.3.5" targetFramework="net45" />
  <package id="d3.TypeScript.DefinitelyTyped" version="1.6.2" targetFramework="net45" />
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="jQuery" version="2.1.3" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core.zh-Hans" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb.zh-Hans" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.zh-Hans" version="2.1.2" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb.zh-Hans" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.zh-Hans" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.zh-Hans" version="3.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="murmurhash-signed" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Stanford.NLP.CoreNLP" version="3.6.0.0" targetFramework="net45" />
  <package id="StemmersNet" version="1.1.1.0" targetFramework="net45" />
  <package id="TweetinviAPI" version="0.9.10.0" targetFramework="net45" />
</packages>