body {
    font: 10px sans-serif;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
                Introduced in IE 10.
                See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
            */
    -ms-user-select: none;
    user-select: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.seg {
    fill: #ffeda0;
    opacity: 0.5;
}

#curve {
    width: 2000px;
    height: 300px;
    overflow: auto;
    display: table-cell;
}



#somMaps {
    stroke: #000;
    stroke-width: 1;
}

.somMap {
    float: left;
    clear: none;
    height: 350px;
    width: 350px;
    position: relative;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

circle {
    fill:#fff;

}

circle.selected {
    fill:#000;
}