html, body {
    height: 100%;
    background-color: #E8E9EE;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.wrapper {
    height: 100%;
}

div#page-content {
    margin-left: 180px;
    padding-top: 50px;
}

/*-------------------top menu------------------*/
.navbar-header {
    text-align:center;
    width:180px;
    height:48px;
    padding-top:5px;
}

.navbar-brand {
    float:none;
    font-size:30px;
}
    .navbar-brand i {
        padding-right:4px;
    }

.navbar-form {
    padding-top:7px;
    padding-bottom:7px;
}

/*------------Define each view------------------*/
.view-title {
    text-align:center;
    border: none;
    border-radius: 0;
    cursor:default;
}

.view-title-md-red {
    font-size:15px;
    color:#fff;
    padding-top: 0;
    padding-bottom: 0;
    background: #E9573F;
}

.view-title-md-red p {
    font-size:20px;
    margin: 0;
    font-weight : 400;
}

.view-title-lg-yellow {
    padding-top: 30px;
    padding-bottom: 5px;
    background: #F6BB42;
}

.view-title-lg-yellow .glyphicon {
    font-size:80px;
}
.view-title-lg-yellow p {
    font-size:30px;
    margin:0 0 5px;
}

.view-title-sm-green {
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    background: #1abc9c;
}

.view {
    height: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-top: 20px;
}

/*---------------Map view-------------*/
div#mapView {
    background-color: #fff;
}
svg#mapSvg {
    position:relative;
}
    svg#mapSvg .som-map rect.unit {
        opacity:0;
    }
        svg#mapSvg .som-map text.map.label {
            fill:#F4D03F;
        }

    svg#mapSvg .som-map path.control-layout {
        fill: none;
        pointer-events:visible;
    }
    svg#mapSvg .som-map path.classifier-link {
        stroke:#BFBFBF;
        stroke-width:2;
        fill:none;
        pointer-events:visible;
        marker-end: url(#mark-end-arrow)
    }

    svg#mapSvg .som-map path.control-layout:hover,
    svg#mapSvg .som-map path.control-layout:hover ~ path.classifier-link{
        stroke: #F7CA18;
        stroke-width:5px;
    }

g#som-map-context-menu rect#context-menu-base {
    fill: #f7f7f7;
    filter: url(#drop-shadow);
}

g#som-map-context-menu line {
    stroke-width: 1px;
    stroke:#dae3e9;
}

g#som-map-context-menu .context-menu-option text{
    font-size:15px;
    pointer-events:none;
    cursor: default;
}

g#som-map-context-menu .context-menu-option rect{
    fill:#f7f7f7;
}

g#som-map-context-menu .context-menu-option rect:hover {
    fill:#59ABE3;
}


path.highlight-arrow {
    stroke:#F5AB35;
    fill:#F5AB35;
}
path#hightlight-arrow-line {
    stroke-width:10px;
    marker-end: url(#mark-end-arrow);
}

div#heatmap-container {
      pointer-events:none;
      position:absolute;           
      overflow:hidden;  
}
    div#heatmap-container > canvas {
        position:absolute;
    }


.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

svg#mapSvg g#world-countries {
    
}

/*-----------curve view------------*/
div#curveView {
    background-color:#3EAFDB;
    background-color:#BAEAFF;
    background-color:rgba(255,255,255,1);
}

    div#curveView text {
        fill:#000;
        opacity:1;
        cursor:default;
        pointer-events:none;
    }

.stack.node rect{
    fill:#E87E04;/*rgb(31, 145, 189);*/
    stroke: #fff;
    stroke-width: 0.5px;
}
.stack.node rect:hover{
    stroke: #F5AB35;
    stroke-width: 1.5px;
}
g.cells path.entropy-ring {
    fill:#1abc9c;
}
/*rgb(31, 145, 189);*/
path.stack.link,
.curve.axis path,
.curve.axis line {
    fill: none;
    stroke: #ccc;
    stroke-width:1.5px;
}

.curve.axis path,
.curve.axis line {
    shape-rendering: crispEdges;
}

.curve.axis text {
    font-size: 12px;
}

g.curve.seg rect{
    fill: rgb(31, 145, 189);/*#E87E04;*/
    stroke: #fff;
    stroke-width: 0.5px;
}

path.curve.section.path {
    stroke: #3498db;
    stroke-width: 3px;
    fill: none;
}

path.curve.rest.path {
    stroke:rgb(31, 145, 189); /*#E87E04;*/
    stroke-width: 3px;
    fill: none;
}

circle.curve.node {
    fill: #fff;
    stroke: rgb(31, 145, 189);;/*#E87E04*/
    stroke-width: 1.5px;
}

.progress {
    border-radius:0;
}
.progress-bar {
    background-color:#3EAFDB;
}

/*-----------WordCloudLens------------*/
text.word-cloud {
    

}

/*-----------MapLens------------*/
#states {
    fill: rgb(222,235,247);
}

    #states .active {
        fill: orange;
    }

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

/*-----------sidebar nav------------*/
.nav-side-menu {
    background-color: #f7f7f7;
    overflow: hidden;
    outline: none;
    position: fixed;
    height: 100%;
    width: 180px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #dae3e9;
    font-size: 13px;
}

    .nav-side-menu .nav-brand {
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .nav-side-menu li.active,
    .nav-side-menu li:hover {
        border-left: 1.6px solid #d19b3d;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

    .nav-side-menu .menu-list ul,
    .nav-side-menu .menu-list li {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 35px;
        cursor: pointer;
        padding-left: 0;
        border-bottom: 1px solid #dae1e8;
    }

    .nav-side-menu .menu-list li {
        /*text-decoration: none;*/
        color: #6e829b;
    }

        .nav-side-menu .menu-list li i {
            padding-left: 10px;
            width: 20px;
            padding-right: 5px;
        }

        .nav-side-menu .menu-list ul:not(collapsed) .arrow:before,
        .nav-side-menu .menu-list li:not(collapsed) .arrow:before {
            display: inline-block;
            /*padding-left: 5px;
            padding-right: 10px;*/
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu .menu-list li.panel {
            background-color: #f7f7f7;
        }
            .nav-side-menu .menu-list li.panel div {
                text-indent:15px;
            }
    /*.nav-side-menu .menu-list ul .active,
        .nav-side-menu .menu-list li .active {
            border-left: 3px solid #d19b3d;
            background-color: #f7f7f7;
        }*/

    /*.nav-side-menu .menu-list ul .sub-menu li.active,
        .nav-side-menu .menu-list li .sub-menu li.active {
            color: #d19b3d;
        }*/

    /*.nav-side-menu .menu-list ul .sub-menu li.active a,
            .nav-side-menu .menu-list li .sub-menu li.active a {
               color: #6e829b;
            }*/

    /*.nav-side-menu ul .sub-menu li,*/
    .nav-side-menu li .sub-menu li {
        border: none;
        line-height: 28px;
        /*border-bottom: 1px solid #dae1e8;*/
        /*margin-left: 0px;*/
        text-align: center;
    }

        /*.nav-side-menu ul .sub-menu li:hover,*/
        .nav-side-menu li .sub-menu li:hover {
            background-color: rgb(189, 195, 199);
        }

    .nav-side-menu .menu-list .menu-content {
        display: block;
    }


/*-----------Adaptive row height------------*/
.container-fluid {
    height: 100%;
}

.row-1 {
    height: 8.33333333%;
}

.row-2 {
    height: 16.66666667%;
}

.row-3 {
    height: 25%;
}

.row-4 {
    height: 33.33333333%;
}

.row-5 {
    height: 41.66666667%;
}

.row-6 {
    height: 50%;
}

.row-7 {
    height: 58.33333333%;
}

.row-8 {
    height: 66.66666667%;
}

.row-9 {
    height: 75%;
}

.row-10 {
    height: 83.33333333%;
}

.row-11 {
    height: 91.66666667%;
}

.row-115 {
    height: 97%;
}

.row-12 {
    height: 100%;
}



/*---------------tweets view-------------*/
/*div#tweetsView {
    position:absolute;
    overflow:hidden;
    pointer-events:none;
}*/


.list-group {
    background-color:#fff;
    margin-bottom: 0;
    position:absolute;
    border:1px solid #E8E9EE;
    padding-right:0;
    cursor:default;
}

.list-group-item {
    border: none;
    margin-bottom: 0;
    border-bottom: 1px solid #ddd;
}

    .list-group-item:first-child {
        border-radius: 0;
    }

    .list-group-item:last-child {
        border-radius: 0;
        border-bottom: none;
    }

.pagination {
    margin: 0;
}